.imagen {
    background-image: url("/assets/img/imgHeader/cfud.jpg");
    background-position: center center;
    background-size: cover;
    height: 160px;
}

.temporada {
    height: 70px;
    width: 618px;
    background-color: #fdfafa87;
}